Flask==3.0.3
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
Werkzeug==3.0.2
WTForms==3.1.2
SQLAlchemy==2.0.29
pytz==2020.5
json5==0.9.5
reportlab==3.5.67