<!-- change_password.html -->
{% extends 'base.html' %}

{% block title %}Troca de Senha{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Change Password</div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.current_password.label(class="form-control-label") }}
                        {{ form.current_password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.new_password.label(class="form-control-label") }}
                        {{ form.new_password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {{ form.confirm_password(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
