<!-- direction_maintenance.html -->
{% extends 'base.html' %}

{% block title %}Diretoria{% endblock %}

{% block content %}
<style>

body{
    background-image: url("/static/img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
    background-attachment: fixed; /* Mantém o fundo fixo enquanto a página rola */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    justify-content: flex-start; /* Alinhar os itens à esquerda */
    margin-left: 25px;
}

.card {
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 1;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card p {
    font-size: 16px;
}

.card form {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 5px;
}

.card form button {
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    position: relative;
}

label {
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

</style>
<div class="card-container">
    {% for maintenance in maintenances.items %}
    {% if maintenance.status == 'Enviado à diretoria' %}
    <div class="card" style="background-color: {% if request.status == 'Enviado à diretoria' %}lightcoral{% endif %}">
        <p><b>Cliente:</b> {{ maintenance.client_name }} | <b>ID: </b> {{ maintenance.id }}</p>
        <p><b>Data:</b> {{ maintenance.date_completed}}</p>
        <p><b>Motivo:</b> {{ maintenance.reason }}</p>
        <p><b>Modelo:</b> {{ maintenance.model }}</p>
        <p><b>ID do Equipamento:</b> {{ maintenance.equipment_number }}</p>
        <p><b>Tipo de Problema:</b> {{ maintenance.problem_type }}</p>
        <p><b>Tipo de Fatura:</b> {{ maintenance.billing }}</p>
        <p><b>Status:</b> {{ maintenance.status }}</p>

        <form action="{{ url_for('approve_maintenance_direction', maintenance_id=maintenance.id) }}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-success" id="approve-button-{{maintenance.id}}">Aprovar</button>
        </form>
        
        <form action="{{ url_for('reject_maintenance', maintenance_id=maintenance.id) }}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-warning">Rejeitar</button>
        </form>

        <form action="{{ url_for('download_maintenance_pdf', maintenance_id=maintenance.id) }}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-dark">Baixar PDF</button>
        </form>
    </div>
    {% endif %}
    <footer class="footer">
        <div class="container">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if maintenances.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('direction_maintenance', page=maintenances.prev_num) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                        </li>
                    {% endif %}
    
                    {% for page_num in range(1, maintenances.pages + 1) %}
                    <li class="page-item {% if page_num == maintenances.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('direction_maintenance', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
    
                {% if maintenances.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('direction_maintenance', page=maintenances.next_num) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </footer>
    <script>
        document.getElementById('approve-button-{{maintenance.id}}').addEventListener('click', function() {
            Swal.fire({
                title: 'Enviando e-mail...',
                html: 'Por favor, aguarde...',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                },
            });
        });
    </script>
    {% endfor %}
</div>
{% endblock %}
