{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card my-3">
        <div class="card-header bg-primary text-white">Visualização Power BI</div>
        <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiZGMyZDFlYTctOWZmOS00OGE1LTkzOTEtMmUzNDhiYmQ4ODM3IiwidCI6IjA1ZTExMDdiLTYwZGUtNDdhOS1iNTU3LWIwMDYwN2I2YjI1OCJ9" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
