<!-- register.html -->
{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<style>
        .card{
        width: 600px;
        margin: 0 auto;
    }
</style>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Registro</div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('register') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {{ form.confirm_password(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
            <div class="card-footer">
                <p class="text-muted">Já tem uma conta? <a href="{{ url_for('login') }}">Entre aqui</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
