{% extends 'base.html' %}

{% block title %}Termos e Condições{% endblock %}

{% block content %}
<style>
    .card{
        margin-bottom: 25px;
    }
</style>
<div class="container">
    <div class="card">
        <div class="col-md-12">
            <h1 class="text-center">Termos e Condições do Sistema InteGS</h1>
            <p><strong>Introdução</strong></p>
            <p>1.1 Este documento estabelece os termos e condições para o uso do Sistema InteGS de Requisição de Vendas, doravante referido como "o Sistema", fornecido pelo Grupo Golden Sat, doravante referido como "a Empresa".</p>
            <p>1.2 Ao acessar ou utilizar o Sistema, o usuário concorda em cumprir estes termos e condições. Se o usuário discordar de qualquer parte destes termos e condições, ele não terá permissão para acessar o Sistema.</p>

            <p><strong>Acesso ao Sistema</strong></p>
            <p>2.1 O acesso ao Sistema é concedido apenas aos funcionários autorizados do Grupo Golden Sat.</p>
            <p>2.2 Cada usuário autorizado receberá credenciais de acesso exclusivas, que não devem ser compartilhadas com terceiros.</p>
            <p>2.3 É responsabilidade do usuário manter suas credenciais de acesso seguras e protegidas contra uso não autorizado.</p>

            <p><strong>Funcionalidades do Sistema</strong></p>
            <p>3.1 O Sistema InteGS permite que os usuários façam requisições de vendas de produtos disponíveis no catálogo do Grupo Golden Sat.</p>
            <p>3.2 As requisições de vendas devem ser feitas de acordo com as políticas e procedimentos estabelecidos pelo Grupo Golden Sat.</p>
            <p>3.3 O Sistema registra todas as atividades relacionadas às requisições de vendas para fins de rastreamento e auditoria.</p>

            <p><strong>Responsabilidades do Usuário</strong></p>
            <p>4.1 O usuário é responsável por garantir a precisão e integridade das informações fornecidas nas requisições de vendas.</p>
            <p>4.2 O usuário deve seguir os procedimentos estabelecidos pelo Grupo Golden Sat para o uso adequado do Sistema InteGS.</p>
            <p>4.3 O usuário não deve realizar atividades que possam comprometer a segurança ou a integridade do Sistema.</p>

            <p><strong>Privacidade e Segurança</strong></p>
            <p>5.1 O Grupo Golden Sat se compromete a proteger a privacidade e a segurança das informações dos usuários de acordo com as leis e regulamentações aplicáveis.</p>
            <p>5.2 O acesso às informações dos usuários será restrito aos funcionários autorizados do Grupo Golden Sat que necessitam delas para realizar suas funções.</p>

            <p><strong>Alterações nos Termos e Condições</strong></p>
            <p>6.1 O Grupo Golden Sat se reserva o direito de alterar estes termos e condições a qualquer momento, mediante aviso prévio aos usuários.</p>
            <p>6.2 O uso contínuo do Sistema após as alterações entrarem em vigor constituirá aceitação dos novos termos e condições.</p>

            <p><strong>Disposições Gerais</strong></p>
            <p>7.1 Estes termos e condições constituem o acordo completo entre o usuário e o Grupo Golden Sat em relação ao uso do Sistema InteGS.</p>
            <p>7.2 Qualquer falha do Grupo Golden Sat em aplicar qualquer disposição destes termos e condições não será considerada uma renúncia a esses direitos.</p>
        </div>
    </div>
</div>
{% endblock %}
